<p>
  <strong>Username : </strong>
  <%= @users.username %>
  <%= link_to 'edit', user_path(@users) %>
</p>
<p>
  <strong>Mail : </strong>
  <%= @users.mail %>
</p>
<p>
  <strong>First name : </strong>
  <%= @users.age %>
</p>
<p>
  <strong>Last name : </strong>
  <%= @users.age %>
</p>
<p>
  <strong>Age : </strong>
  <%= @users.age %>
</p>
