<p>
  <strong>Username : </strong>
  <%= @users.username %>
</p>
<p>
  <strong>Mail : </strong>
  <%= @users.mail %>
</p>
<p>
  <strong>First name : </strong>
  <%= @users.mail %>
</p>
<p>
  <strong>Last name : </strong>
  <%= @users.mail %>
</p>
<p>
  <strong>Age : </strong>
  <%= @users.mail %>
</p>
