<p>
  <strong>Username : </strong>
  <%= @user.username %>
  <%= link_to 'edit', user_path(@user) %>
</p>
<p>
  <strong>Mail : </strong>
  <%= @user.email %>
</p>
<p>
  <strong>First name : </strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name : </strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Age : </strong>
  <%= @user.age %>
</p>
<ul>
  <% @tickets.each do |ticket| %>
      <li>
        <%= link_to "#{ticket.price}", ticket %>
        <%= ticket.price%>
        <%=  %>
      </li>
  <% end %>
</ul>
