<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>New Concert</h1>
<%= form_for :concert, url: concerts_path do |f| %>
    <p>
      <%= f.label :Concert_Name %><br>
      <%= f.text_field :name %>
    </p>
    <!-- Todo Date -->
    <p>
      <%= f.label :Date %>
      <%= f.date_select   :date %>
    </p>
    <p>
      <%= f.label :Style %><br>
      <%= f.text_field :style %>
    </p>
    <p>
      <%= f.label :Remaining_Tickets %><br>
      <%= f.number_field :remaining_tickets %>
    </p>
    <p>
      <%= f.label :Price %><br>
      <%= f.number_field :price %>
    </p>
    <p>
      <%= f.label :Address %><br>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :Description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
</body>
</html>