<p>
  <strong>Title : </strong>
  <%= @concert.name %>
</p>
<p>
  <strong>Date : </strong>
  <%= @concert.date %>
</p><p>
  <strong>Remaining Tickets : </strong>
  <%= @concert.remaining_tickets %>
</p>
<p>
  <strong>Price : </strong>
  <%= @concert.price %>
</p><p>
  <strong>Style : </strong>
  <%= @concert.style %>
</p>
<p>
  <strong>Address : </strong>
  <%= @concert.address %>
</p>
<p>
  <strong>Description : </strong>
  <%= @concert.description %>
</p>
