<p>
  <strong>Title : </strong>
  <%= @concert.name %>
</p>
<p>
  <strong>Date : </strong>
  <%= @concert.date %>
</p><p>
  <strong>Remaining Tickets : </strong>
  <%= @concert.remaining_tickets %>
</p>
<p>
  <strong>Price : </strong>
  <%= @concert.price %>
</p><p>
  <strong>Style : </strong>
  <%= @concert.style %>
</p>
<p>
  <strong>Address : </strong>
  <%= @concert.address %>
</p>
<p>
  <strong>Description : </strong>
  <%= @concert.description %>
</p>

<h1>Comments</h1>
<%= form_for :comment, url: concert_comments_path(@concert) do |f| %>
  <p>
    <%= f.text_area :comment %><br/>
    <%= f.submit %>
  </p>
<% end %>

<% @comments.each do |comment| %>
    <tr>
      <td><%= comment.comment %></td><br/>
    </tr>
<% end %>