<div class="container">
  <div id="elementContainer">
    <p class="row">
      <strong>Title : </strong>
      <%= @concert.name %>
    </p>
    <p class="row">
      <strong>Date : </strong>
      <%= @concert.date %>
    </p>
    <p class="row">
      <strong>Remaining Tickets : </strong>
      <%= @concert.remaining_tickets %>
    </p>
    <p class="row">
      <strong>Price : </strong>
      <%= @concert.price %>
    </p>
    <p class="row">
      <strong>Style : </strong>
      <%= @concert.style %>
    </p>
    <p class="row">
      <strong>Address : </strong>
      <%= @concert.address %>
    </p>
    <p class="row">
      <strong>Description : </strong>
      <%= @concert.description %>
    </p>
    <%= form_for :tickets, url: tickets_path do |f| %>
      <div class="counter">
        Tickets to buy : <%= f.number_field :number_of, :placeholder => "Nb of Tickets" %> <%= f.submit 'Buy', :class => "btn btn-success"%>
      </div>
    <% end %>
      <h3>Add a Comment</h3>
      <%= form_for :comment, url: concert_comments_path(@concert) do |f| %>
        <p class="row">
          <%= f.text_area :comment, :class => "col-md-6 input-group", placeholder: "Comment" %><br/>
        </p>
        </div>
        <div class="row">
        <%= f.submit %>
        </div>
      <% end %>



    <table class="table" id="commentTable">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Comment</th>
          <th>Date</th>
        </tr>
      </thead>
      <% @comments.each do |comment| %>
          <tbody>
            <tr>
              <th><%=comment.user.username%></th>
              <th><%= comment.comment %></th>
              <th><%= comment.created_at%></th>
            </tr>
          </tbody>
      <% end %>
    </table>
  </div>
</div>