<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= stylesheet_link_tag 'styles.css' %>
    <!-- Latest compiled and minified CSS -->
  </head>

  <body>
  <script src="https://use.fontawesome.com/fd0b0a9b98.js"></script>
    <header>
      <div class="col-md-12" id="headerBar">
        <%= link_to 'Concertize', {:controller => 'concerts', :action => 'index'}, :class => "col-md-1", id: "concertize" %>
        <span class="col-md-1 col-md-offset-1">RubyKeK</span>
        <%= form_for :concert, url: :concerts_search_post do |f| %>
            <div class="form-group col-md-2 col-md-offset-6" id="theform">
              <%= f.text_field :address,:class => "form-control", placeholder: "Rechercher" %>
            </div>
        <% end %>
        <%= link_to "Log in", "/sessions/new", :class => "col-md-1", :id => "concertize" %>
      </div>
    </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
